numpy==1.22
scipy
pandas
matplotlib
altair
metaflow
tqdm
filelock
typer
sh
tabulate
fasttext
tomotopy
scikit-learn
gensim
spacy
umap-learn
ratelim
python-dotenv
altair_saver
webdriver-manager
fsspec
S3fs
db-dtypes
google-cloud-bigquery
google-cloud-bigquery-storage
google-api-core
beautifulsoup4
lxml
