numpy
scipy
matplotlib
altair
metaflow
tqdm
filelock
typer
sh
tabulate
fasttext
tomotopy
scikit-learn
gensim
spacy
umap-learn
ratelim
python-dotenv
altair_saver
webdriver-manager
db-dtypes
google-cloud-bigquery
google-cloud-bigquery-storage
google-api-core
boto3==1.24.7
fsspec==2022.5.0
s3fs==2022.5.0
pandas
selenium
